.todoListContainer {
  display: flex;
}

.todoList {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.inputContainer {
  display: flex;
  margin-bottom: 20px;
}

.inputContainer input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.inputContainer input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.inputContainer button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputContainer button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

.commentInputContainer {
  flex: 0 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.commentInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentInput input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.commentInput input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.commentInput input[type="color"] {
  margin-bottom: 10px;
}

.commentInput button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.commentInput button:hover {
  background-color: #0056b3;
}
